$sidebar-branding-area-height: 80px;
$logo-height: 90%;
$logo-height-md: 75%;  
$logo-height-lg: 60%;  

$branding-background-opacity: .85;
$hero-background-opacity: .85;

$link-color: $blue-000;
$btn-primary-color: $blue-100;

.align-items-center {
    align-items: center;
}
